:root {
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}

*:first-child {
  margin-top: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: -apple-system-label;
  background: transparent;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.25rem;
}

h1,
h2 {
  border-bottom: 0.1rem solid -apple-system-separator;
}

em {
  background: rgba(255, 255, 0, 0.5);
  background-blend-mode: multiply;
}

@media (prefers-color-scheme: dark) {
  em {
    background: rgba(255, 255, 0, 0.25);
  }
}

img {
  max-width: 100%;
  height: auto;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: -apple-system-secondary-background;
  border-right: 0.1rem solid -apple-system-separator;
  border-bottom: 0.1rem solid -apple-system-separator;
}

th,
td {
  padding: 0.5rem;
  border-style: solid;
  border-color: -apple-system-separator;
  border-width: 0.1rem 0 0 0.1rem;
  text-align: left;
  vertical-align: top;
}

th {
  color: -apple-system-label;
  background-color: -apple-system-tertiary-background;
}

td {
  word-break: break-word;
}

hr {
  border: none;
  border-top: 0.1rem solid -apple-system-separator;
}

body.pdf {
  background: #ffffff;
  padding: 0;
  font-size: 1rem;
}

@page {
  size: A4;
  margin: 18mm 16mm;
}
